.editor-base-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
}

.header {
  height: 50px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}

.toolbar {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button:hover {
  background-color: #9cb1c7;
}

button.active {
  background-color: #ccc;
  font-weight: bold;
}

.close-button {
  background-color: #dc3545;
  margin-top: 20px;
}

.close-button:hover {
  background-color: #c82333;
}

.editor-container {
  display: inline-block;
  flex-grow: 1;
  justify-content: center; /* Center the editor horizontally */
  align-items: center; /* Center the editor vertically */
  background-color: #f0f0f0;
  height: calc(100vh - 110px); /* Take full height minus header and toolbar */
  padding: 20px;
  position: relative;
}

.editor {
  white-space: pre-wrap;
  width: 50%; /* Editor takes 50% of the viewport width */
  height: 100%; /* Editor takes the remaining height */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow-y: auto;
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
  margin-right: auto; /* Push the editor away from the right */
  margin-left: 25%; /* Offset to center the editor */
}

.comments-panel {
  position: absolute;
  right: 2%; /* Position the comments panel on the right */
  top: 0;
  height: 100%; /* Match the height of the editor */
  width: 20%; /* Comments panel takes 20% of the viewport width */
  padding: 10px;
  background-color: #f1f1f1;
  overflow-y: auto;
}

.comment-box {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.comment-thread {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.comment-thread li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
}

/* Author styling */
.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Comment text styling */
.comment-text {
  margin-bottom: 10px;
}

/* Date styling */
.comment-date {
  font-size: 12px;
  color: #888; /* Light grey color */
  margin-top: 5px;
}

.reply-input {
  width: 100%;
  padding: 3px;
  right: 1%;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.reply-button {
  margin-top: 5px;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
